/*
 JavaFX elements
 */
.root {
}

.split-pane > .split-pane-divider {
    -fx-padding: 0 2px 0 1px;
}

/*
 different items
 */
.track-view-node {
    -fx-background-color: #ddd;
}

#track-list-anchorpane {
    /* .titled-pane > .content > AnchorPane   is set to 0.8 em in modena.css */
    -fx-padding: 0;
}

.track-droparea {
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-background-radius: 10;
    -fx-alignment: center;
    -fx-border-color: #999;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

